/* write your css here */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  color: rgb(57, 55, 55);
  font-weight: 600;
}
.header-button {
  transition: 0.8s;
}
.header nav ul {
  list-style: none;
  padding: 0;
}

.header nav ul li {
  display: inline;
  margin: 0 15px;
}
.header nav ul li:hover {
  color: rgb(34, 34, 34);
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; 
  transition: background-color 0.3s, box-shadow 0.3s;
  background-color: rgba(255, 255, 255, 0.9); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
footer {
  text-align: center;
  padding: 20px;
  width: 100%;
}
.education-card {
  transition: transform 0.3s ease;
}
.education-card:hover {
  transform: scale(1.02);
}

.image-transition:hover {
  transform: scale(1.1);
  transition: 2s;
}
.skillsLevel {
  background-image: linear-gradient(145deg, #fff, #ff014f);
  border: 2px solid gainsboro;
  height: 10px;
}
.resumeColor:hover {
  background-image: linear-gradient(145deg, #ff014f, #d11414);
}

.blog-card {
  transition: transform 0.3s ease;
}

.blog-card:hover {
  transform: scale(1.02);
}


.bg-color{
  background-image: linear-gradient(145deg, #ededed, #fff);
}
/* // bg-gradient-to-r from-pink-500 to-red-500 */
